link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet', href='/assets/css/login.css', type='text/css')

div.login
    div.box
        div.header
            i.material-icons account_circle
            h2 Welcome back! Please login.

        div.content
            form(method='post')
                label Sign in with your e-mail address
                input(type='text', name='username', placeholder='Pseudo')
                
                label Password
                input(type='password', name='password', placeholder='Mot de passe')
                
                button(type='submit') Sign in to Dashboard
    
    div.bottom
        p.left Don’t have an account yet? Get Started
        p.right Forgot Password?
