link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet', href='/assets/css/login.css', type='text/css')

div.login
    div.box
        div.header
            i.material-icons account_circle
            h2 Bienvenue ! Connectez-vous.

        div.content
            
            if message.length
                div.error
                    p 
                        i.material-icons warning
                        | #{message}
            
            form(method='post')
                label Adresse e-mail
                input(type='email', name='email', placeholder='Entrez votre adresse e-mail', required)
                
                label Mot de passe
                input(type='password', name='password', placeholder='Entrez votre mot de passe', required)
                
                button(type='submit').btn Connexion
                
            div.separator
                span Réseaux sociaux
                
            div.social
                div
                    button.btn-social.twitter
                        img(src='/assets/img/icon/twitter-icon.png')
                div
                    button.btn-social.facebook
                        img(src='/assets/img/icon/facebook-icon.png')
                div
                    button.btn-social.pinterest
                        img(src='/assets/img/icon/pinterest-icon.png')
                div
                    button.btn-social.dribbble
                        img(src='/assets/img/icon/dribbble-icon.png')
    
    div.bottom
        a(href='/account/signup').left Pas encore de compte? Créez-en un
        a(href='/account/password').right Mot de passe oublié
