include ../inc/head.pug

h1 Connexion

form(method='post')
    div
        input(type='text', name='username', placeholder='Pseudo')
    div
        input(type='password', name='password', placeholder='Mot de passe')
    div
        input(type='submit', value='Connexion')

include ../inc/foot.pug
