@import 'common';
@import 'form';

.navbar {
    display: flex;
    background: linear-gradient(#2da1f8, #1992ec);
    height: 65px;
    width: 100%;

    .left-menu {
        width: 70%;
        padding: 20px;

        a {
            text-decoration: none;
            color: white;
            margin-right: 35px;
        }

        a:hover {
            background-color: #1166a5;
            padding: 10px;
            margin: 0px 25px 0 -10px;
            border-radius: 5px;
        }
    }

    .right-menu {
        width: 30%;
        padding: 20px;
        text-align: right;

        img {
            width: 45px;
            height: initial;
            margin-top: -10px;
        }
    }
}

.title {
    height: 65px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;

    p {
        font-size: 24px;
        margin: 0;
        padding: 16px 20px;
    }

    span {
        float: right;
        font-size: 16px;
        margin-top: 6px;
    }
}

.content {
    margin-bottom: 40px;
    padding-top: 20px;

    .box {
        background-color: white;
        border-radius: 4px;
        border: 1px solid lightgray;
        padding: 20px;
        margin: 0 20px;

        &.secondary {
            background-color: #fafbfc;

            .secondary-footer {
                margin: -20px;
                padding: 20px;
                text-align: center;
                background-color: white;
                border-top: 0.5px solid lightgray;
                border-radius: 0 0 4px 4px;
            }
        }

        h2 {
            margin-top: 0;
        }

        h4 {
            margin: 0 0 10px;
        }

        p {
            margin: 0;
            color: #7c8ca5;
        }

        hr {
            margin: 15px -20px;
            border: 0.5px solid lightgray;
        }

        #editTitle {
            display: none;
        }

        .question-header {
            display: flex;

            img {
                width: 62px;
                margin-right: 20px;
            }

            .question-title{
                width: 60%;

                .question-author {
                    display: block;
                    color: #7c8ca5;
                    font-size: 14px;
                    margin-top: 5px;
                }
            }

            .action-right {
                width: 31%;
            }
        }

        .question-content {
            img {
                max-width: 100%;
            }
        }
    }

    .container {
        display: flex;
        width: 80%;
        margin: auto;

        .container-left {
            width: 40%;
        }

        .container-right {
            width: 60%;
        }

        .container-full {
            width: 100%;
        }

        @for $i from 1 through 12 {
            .container-#{$i} {
                width: (100% / 12) * $i;
                margin-bottom: 20px;
            }
        }

        @media (max-width: 1000px) {
            display: block;
            width: 90%;

            div[class *= "container-"] {
                width: 100%;
            }
        }

    }
}

.notification {
    margin: 20px auto auto;
    width: 80%;

    .alert {
        color: white;
        padding: 10px;
        margin: 10px 20px 0 20px;
        border-radius: 5px;

        &.error {
            background-color: lightcoral;
        }

        &.success {
            background-color: #6ecc6e;
        }

        p {
            margin: 0;

            i.material-icons {
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }
}

.action-right {
    text-align: right;

    i {
        margin-left: 10px;
        cursor: pointer;
    }

    .resolved {
        padding-right: 10px;
        border-right: 1px solid lightgray;
    }
}
