include ../inc/head.pug

div.content
    div.container
        div.container-full
            div.box
                h2 Créer une question

                form(method='post')
                    label Titre
                    input(type='text', name='title', placeholder='Entrez un titre')
                    
                    textarea(name='description', placeholder='Description').tinyedit
                    
                    button(type='submit').btn Créer

include ../inc/foot.pug
