include ../inc/head.pug

div.content
    div.container
        div.container-full
            div.box
                h2 Créer une question

                form(method='post')
                    div
                        input(type='text', name='title', placeholder='Titre')
                    div
                        textarea(name='description', placeholder='Description')
                    div
                        input(type='submit', value='Créer')

include ../inc/foot.pug
